 {% autoescape off %}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Adriksha</title>
</head>
<body>
    <h2>Welcome {{ first_name }}!</h2>
    <p>Thank you for registering with Adriksha. We're excited to have you as part of our community.</p>
    <p>Your account details:</p>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>
    <p>please click on the given link to confirm your registration </p>
    http://{{domain}}{% url 'activate' uidb64=uid token=token %}

    <p>Best regards,<br>The Adriksha Team</p>
</body>
</html>

{% endautoescape %}